*.pyc
*.blend1
*.~
*.old
.idea/
scripts/surgical_robotics_challenge.egg-info/
.vscode/
output/
solution-scripts/autoutils.egg-info/
.ipynb_checkpoints/
to_erase
*.pth
__pycache__
*.egg-info
build
*.txt.user